body { transform: translate3d(0,0,0); }	

.system-pf2e #effects-panel {
    margin-top: 2px;
    margin-right: 110px;
}

/* Completely hides the effects panel */
#effects-panel .effect-item > .icon {
    display: none !important; 
}

#effects-panel .effect-item {
  display: flex;
  justify-content: end;
  height: 35px;
}

#effects-panel > hr {
  margin-right: 0;
  height: 2px;
  width: 48px;
}
